  @import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100;400;600;700&display=swap');

  body {
    margin: 0;
    font-family: 'Geologica', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #9DB2BF;
  }

  p {
    font-family: 'Geologica', sans-serif !important;
  }

  span {
    color: #27374D;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }